/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  header
  ========================================
*/

body {
    font-family: 'Varela Round';
}

.header {
    background-image: url(../images/header1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}



.nav-bar{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    word-spacing: 20px;
    padding: 20px;
    position: fixed;
    width: 100%;
}

nav ul li {
    display: inline-block;
    font-weight: 600;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #a9a9a9;
}

.mid-header {
    color: #fff;
    font-size: 70px;
    font-weight: 800;
    padding-left: 60px;
    padding-right: 60px;
}


.mid-header h1 {
    padding-top: 250px;
    line-height: normal;
}



.mid-header h2 {
    color: #ddd;
    padding-bottom: 150px;
}

/*
  ========================================
  PORTFOLIO GRID OF TWO
  ========================================
*/

.project1,
.project2,
.project3,
.project4 {
    height: 500px;
    text-align: center;
    line-height: 40px;
}

.project2 h2,
.project3 h2{
    padding-top: 150px;
}

.line{
    width: 30%;
}

.project1 h4,
.project2 h4,
.project3 h4 {
    font-size: 18px;
    line-height: normal;
    padding-bottom: 20px;
}

.project1 h3,
.project2 h3 {
    font-size: 20px;
}

.project2 .btn,
.project3 .btn{
    background: #fff;
    border: 2px solid #ff3333;
    color: #000;
}

.project1 .btn:hover,
.project2 .btn:hover,
.project3 .btn:hover,
.project4 .btn:hover {
    background: #ff3333;
    color: #fff;
}


.project1 h2,
.project2 h2,
.project3 h2,
.project4 h2{
    font-size: 30px;
}

.area_2_of_2 {
	width: 100%;
}

.area_1_of_2 {
	width: 66%;
    height: 420px;
}

.area1_1_of_2{
    width: 30%;
    height: 420px;
}

.area_1_of_2 img{
     width: 100%;
}

.btn {
    background: #a9a9a9;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-alt {
    text-align: center;
    border: 1px solid ;
    padding: 0px 10px;
    border: none;
}

#projects-scroll {
    background-image: url();
    background-size: cover
}

/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/

@media only screen and (max-width: 480px) {
	.area_2_of_2 {
		width: 100%; 
	}
    
	.area_1_of_2 {
		width: 100%; 
	}
    
    .mid-header {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    body {
        font-size: 15px;
    }
    
}

/*
  ========================================
    SECTIONS
  ========================================
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*
  ========================================
  GROUPS
  ========================================
*/


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*
  ========================================
  GRID COLUMN SETUP
  ========================================
*/

.col {
	display: block;
	float:left;
	margin: 1% 1% 1% 1%;
}

.col:first-child { margin-left: 1%; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 0 0 0 0;
	}
    
    form {
    margin: inherit;
    }
    
    .header{
        height: inherit;
        font-size: inherit;
    }
    
    .mid-header h1 {
    padding-top: 150px;
    line-height: normal;
    font-size: 60px;
    }
    
    .mid-header h2{
        font-size: 60px;
    }
}

/*
  ========================================
  ABOUT SECTION
  ========================================
*/


.about {
    background-image: url(../images/aboutbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 500px;
    text-align: center;
}

.about h1 {
    font-size: 40px;
    padding: 40px 0 10px 0px;
    font-weight: 800;
    
}


.about h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
}

/*
  ========================================
  CONTACT SECTION
  ========================================
*/

.contact {
    padding-bottom: 20px;
}

.contact h1 {
    font-size: 40px;
    padding: 40px 0 10px 60px;
    text-align: center;
    font-weight: 700;
}

.contact h2 {
    font-size: 30px;
    line-height: normal;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 300;
}



.contact-form{
    background: #;
    text-align: center;
    padding-bottom: 20px;
}

/*
  ========================================
  FOOTER SECTION
  ========================================
*/

.footer {
    background: #333;
}

.social {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    word-spacing: 20px;
}

.social a{
    color: #fff;
    text-decoration: none;
}

.social ul li {
    display: inline-block;
    line-height: normal
}

.social a:hover {
    color: #a9a9a9;
}

.copyright {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    line-height: normal;
}

/*
  ========================================
  Form
  ========================================
*/

.col-1-3{
  padding-left: ;
  padding-right: ;
}

.col-1-3  {
  display: inline-block;
  vertical-align: top;
}

.col-1-3 {
  width: 50%
}


form {
    text-align: left;
}

input,
select,
textarea {
    font: 300 16px/22px 'Varela Round';
}

.contact-group label {
    color: #000;
    cursor: pointer;
    font-weight: 400;
}


.contact-group input,
.contact-group select,
.contact-group textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
}

.contact-group input,
.contact-group textarea {
    width: 100%;
}


.contact-group textarea {
    height: 78px;
}

.bttn {
    background: #333;
    border: 2px solid #333;
    color: #fff;
    padding: 10px 20px;
}

.bttn:hover {
    background: #fff;
    color: #000;
}
