/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  header
  ========================================
*/

body {
    font-family: 'lato';
}

.header {
    background: #333;
}


.nav-bar{
    background: #fff;
    text-align: center;
    word-spacing: 20px;
    padding: 20px;
    position: fixed;
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    color: #000;
    text-decoration: none;
}

nav ul li a:hover {
    color: #a9a9a9;
}

.mid-header {
    color: #fff;
    font-size: 70px;
    font-weight: 800;
    padding-left: 60px;
    padding-right: 60px;
}

.mid-header h1 {
    padding-top: 150px;
    line-height: normal;
}

.mid-header h2 {
    color: #ddd;
    padding-bottom: 150px;
}

/*
  ========================================
  PORTFOLIO GRID OF TWO
  ========================================
*/

.project1,
.project2,
.project3,
.project4 {
    height: 500px;
    text-align: center;
    line-height: 40px;
}

.project1,
.project4 {
    color: #fff;
    background: #333;
}

.project1 .btn:hover,
.project4 .btn:hover {
    background: #fff;
    color: #000;
}

.project2 .btn:hover,
.project3 .btn:hover {
    background: #333;
}

.project1 h2,
.project2 h2,
.project3 h2,
.project4 h2{
    font-size: 30px;
}

.area_2_of_2 {
	width: 100%;
}

.area_1_of_2 {
	width: 50%;
}

.area_1_of_2 img{
     width: 100%
}

.btn {
    background: #a9a9a9;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-alt {
    text-align: center;
    border: 1px solid ;
    padding: 0px 10px;
    border: none;
}


/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/

@media only screen and (max-width: 480px) {
	.area_2_of_2 {
		width: 100%; 
	}
    
	.area_1_of_2 {
		width: 100%; 
	}
    
    .mid-header {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    body {
        font-size: 15px;
    }
    
}

/*
  ========================================
    SECTIONS
  ========================================
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*
  ========================================
  GROUPS
  ========================================
*/


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*
  ========================================
  GRID COLUMN SETUP
  ========================================
*/

.col {
	display: block;
	float:left;
	margin: 0 0 0 0;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 0 0 0 0;
	}
}

/*
  ========================================
  ABOUT SECTION
  ========================================
*/

.about {
    background: #ddd;
    padding-bottom: 50px;
    text-align: center;
}

.about h1 {
    font-size: 40px;
    padding: 40px 0 10px 60px;
}

.about h2 {
    font-size: 30px;
    font-weight: 300;
    padding: 0 0 0 60px;
}

/*
  ========================================
  CONTACT SECTION
  ========================================
*/

.contact {
    padding-bottom: 20px;
}

.contact h1 {
    font-size: 40px;
    padding: 40px 0 10px 60px;
    text-align: center;
}

.contact h2 {
    font-size: 30px;
    line-height: normal;
    padding: 100px 0 0 60px;
}

.contact h3 {
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
    padding: 0 0 0 60px;
}

.contact1 {
    height: 400px;
}

.contact2 {
    background: #E21D1D;
}
/*
  ========================================
  FOOTER SECTION
  ========================================
*/

.footer {
    background: #333;
}

.social {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    word-spacing: 20px;
}

.social a{
    color: #fff;
    text-decoration: none;
}

.social ul li {
    display: inline-block;
    line-height: normal
}

.social a:hover {
    color: #a9a9a9;
}

.copyright {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    line-height: normal;
}
